.products {
    padding-top: 41px;

    &__title {
        color: #333;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__box {
        width: 100%;
        height: auto;
        border: 1px solid #e0e0e0;
        border-radius: 3px;
        margin-bottom: 11px;
        position: relative;
    }

    &__link {
        text-decoration: none;
    }

    &__box::before {
        position: absolute;
        content: "";
        background: rgba(0, 75, 145, 0.15);
        border-radius: 3px;
        mix-blend-mode: multiply;
        top: 0;
        bottom: 0;
        right: 15%;
        left: 15%;
        transition: all 0.3s ease;
        opacity: 0;
    }

    &__box:hover::before {
        opacity: 1;
        left: 0;
        right: 0;
    }

    &__box img {
        width: 100%;
        height: 100%;
        display: block;
    }

    &__card h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #333333;
    }
}

.advantage {
    padding-top: 71px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 453px;
        height: 185px;
        background: #f2f2f2;
        border-radius: 3px;
        padding: 52px 34px 52px 34px;
    }

    &__info h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        color: #000000;
        margin-bottom: 5px;
    }

    &__info p {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #333333;
        max-width: 284px;
    }
}

@media (max-width: 1440px) {
    .advantage {
        &__inner {
            gap: 50px;
        }

        &__card {
            width: auto;
            height: auto;
            padding: 25px;
        }

        &__card img {
            width: 25%;
        }
    }
}

@media (max-width: 992px) {
    .products {
        &__cards {
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        &__card {
            width: 30%;
        }
    }

    .advantage {
        &__info h3 {
            font-size: 18px;
        }

        &__inner {
            flex-direction: column;
            gap: 15px;
        }

        &__card {
            padding: 20px;
        }

        &__card p {
            max-width: 100%;
        }

        &__card img {
            width: 54px;
            height: 54px;
        }
    }
}

@media (max-width: 768px) {
    .products {
        &__cards {
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        &__card {
            width: 45%;
        }
    }
}

@media (max-width: 600px) {
    .products {
        &__cards {
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 20px;
        }

        &__title {
            font-size: 24px;
        }

        &__box {
            margin-bottom: 5px;
        }

        &__card {
            width: 47%;
        }

        &__card h3 {
            font-size: 14px;
            line-height: normal;
        }
    }

    .advantage {
        &__info h3 {
            font-size: 16px;
        }

        &__info p {
            font-size: 13px;
        }
    }
}
